$primary-color: hsl(263, 55%, 52%);

* {
  margin: 0;
  padding: 0;
}

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;

  min-height: 100vh;
  place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 450px) {
    height: 100%;
  }
}

.container {
  // background-color: red;
  max-width: 1395px;
  padding: 6.2rem 2rem;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  row-gap: 4.2rem;
  column-gap: 4.2rem;

  @media only screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }

  @media only screen and (max-width: 1260px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, max-content);
    row-gap: 3.2rem;
    column-gap: 3.2rem;
  }

  .box {
    border-radius: 1rem;
    padding: 4rem;

    @media only screen and (max-width: 450px) {
      padding: 3.5rem;
    }

    &--1 {
      background-color: $primary-color;
      grid-column: 1 / span 2;

      @media only screen and (max-width: 1260px) {
        grid-column: 1 / -1;
      }
    }

    &--2 {
      background-color: hsl(217, 19%, 35%);

      @media only screen and (max-width: 1260px) {
        height: fit-content;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
    }

    &--3 {
      background-color: #fff;
      grid-column: 4 / 5;
      grid-row: 1 / -1;

      @media only screen and (max-width: 1260px) {
        grid-column: 2 / -2;
        grid-row: 2 / 4;
      }

      .user__name {
        color: hsl(219, 29%, 14%);
      }

      .user__status {
        color: lightslategray;
      }

      .user__heading-primary {
        color: hsl(219, 29%, 14%);
      }

      .user__paragraph {
        color: lightslategray;
      }
    }

    &--4 {
      background-color: #fff;
      grid-column: 1 / 2;

      @media only screen and (max-width: 1260px) {
        height: fit-content;
        grid-column: 1 / 2;
        grid-row: 3 / 4;
      }

      .user__name {
        color: hsl(219, 29%, 14%);
      }

      .user__status {
        color: lightslategray;
      }

      .user__heading-primary {
        color: hsl(219, 29%, 14%);
      }

      .user__paragraph {
        color: lightslategray;
      }
    }

    &--5 {
      background-color: hsl(219, 29%, 14%);
      grid-column: 2 / 4;

      @media only screen and (max-width: 1260px) {
        grid-column: 1 / -1;
        grid-row: 4 / -1;
      }
    }
  }

  .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-bottom: 2rem;

    &__image {
      border-radius: 50%;
      border: 2px solid rgba(211, 211, 211, 0.557);
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1.8rem;
    }

    &__infos {
      display: flex;
      flex-direction: column;
    }

    &__name {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 0.2rem;

      @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
      }
    }

    &__status {
      font-size: 1.3rem;
      color: lightgrey;

      @media only screen and (max-width: 450px) {
        font-size: 1.2rem;
      }
    }

    &__heading-primary {
      font-size: 2.6rem;
      color: white;
      margin-bottom: 2.4rem;

      @media only screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }

    &__paragraph {
      font-size: 1.7rem;
      color: lightgrey;
      font-weight: 500;
      margin-bottom: 0rem;

      @media only screen and (max-width: 450px) {
        font-size: 1.5rem;
      }
    }
  }
}
